@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #eee;
    font-family: 'Schibsted Grotesk', sans-serif;
    padding: 2em;
    max-width: 30em;
    margin: auto;
}

.cols {
    columns: 5em 2;
}

.cols > div {
    margin-bottom: 1em;
}

input {
    width: 100%;
    padding: 1em;
    border-radius: .5em;
    border: 0;
}

input[type=submit] {
    color: white;
    background-color: green;
}